@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Franklin Gothic Heavy';
    src: url('/fonts/FranklinGothicHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.swiper-container {
    width: 80%; /* Adjust width for better layout */
    overflow: hidden;
}

@media (min-width: 1024px) {
    .swiper-container {
        width: 90%; /* Wider container for larger screens */
    }
}

 .swiper-button-prev:after,
 .swiper-rtl .swiper-button-next:after {
     content: '' !important;
 }

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    margin-top: 32px;
}

.swiper-slide.swiper-slide-active {
    --tw-border-opacity: 1 !important;
    border-color: rgb(26 70 69 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}


/*.swiper-container {*/
/*    width: 50%; !* Full screen width *!*/
/*    overflow: hidden; !* Hide slides outside the visible area *!*/
/*}*/

/*.swiper-wrapper {*/
/*    display: flex; !* Ensure slides are laid out in a row *!*/
/*    transition: transform 0.3s ease; !* Smooth transition between slides *!*/
/*}*/

/*.swiper-slide {*/
/*    flex: 0 0 100%; !* Each slide takes 100% of the container width *!*/
/*    max-width: 100%; !* Prevent the slides from exceeding container width *!*/
/*}*/

