@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Franklin Gothic Heavy';
    src: url('/fonts/FranklinGothicHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
